@font-face {
    font-family: 'Mynerve-Regular';
    src: url('Mynerve-Regular.ttf') format('truetype');
  }

body {
	background-color: black;
	color: white;
    font-family: 'Mynerve-Regular', Arial, sans-serif;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.content {
	max-width: 800px;
	text-align: center;
}

h1 {
	font-size: 36px;
}

p {
	font-size: 24px;
}

@media only screen and (max-width: 768px) {
	.content {
		max-width: 90%;
	}
}